<div id="container">
  <h1>Slacker News</h1>
  <div id='posts'>
    <% @all_posts.each do |post| %>
    <div class='post'>
      <h4><a href='<%= post.link %>'><%= post.title %></a></h4>
      <h6><%= post.link %></h6>
      <h6><a href='/post/<%= post.id %>'><%= post.comments.length %> comments</a></h6>
    </div>
    <!-- make sure to write comment if just one -->
    <% end %>
  </div>
</div>
