
  <div id='posts'>
    <% @all_posts.each_with_index do |post, i| %>
    <div class='post'>
      <h4><%= i+1 %>) <%= post.title %></h4>
      <a href='<%= post.link %>'><%= post.link %></a> |
        <a href='/post/<%= post.id %>'><%= post.comments.length %> comments</a>
      
    </div>
    <!-- make sure to write comment if just one -->
    <% end %>
  </div>

