
<div id='header'>
  <h1>Post</h1>
  <h2><%= @post.title %></h2>
  <p><a href='<%= @post.link %>'><%= @post.link %></a></p>
  
  <div class="postvotes">
    <form action='/post/vote/<%= @post.id %>' method='post'>
     <input type="submit" value="&#9757;">
   </form>
 </div>
  
  <h6>This post has <%= @post.post_votes.length %></h6>

  <p>Submitted by: <a href='/user/<%= @post.user_id %>'><%= @post.user.full_name %></a></p>
  <p><%= @post.body %></p>
</div>

<div id="create_comment">
  <form action='/comment/create/<%= @post.id %>' method='post' class="awesome">
 
    <textarea name='body' rows=7 cols=30 placeholder='Comment on post'></textarea>
    <input type='submit' value='Submit'>
  </form>
</div>



  <div class="post_comments">
    <% @post.comments.each do |comment| %>
      <div class='comment' id='comment_<%= comment.id %>'>
        created by: <a href='/user/<%= comment.user.id %>'><%= comment.user.full_name %></a>on <%= comment.created_at %>
        <p><%= comment.body %></p>
      </div>
    <% end %>
  </div>