<div id='container'>
  <div id='header'>
    <h1><%= @user.full_name %>'s Comments</h1>
  </div>
  <div id='comments'>
    <% @user.comments.each do |comment| %>
    <div id='comment'>
      <h4><a href='/post/<%= comment.post.id %>'><%= comment.post.title %></a></h4>
      <h5><%= comment.created_at %></h5>
      <p><a href='/post/<%= comment.post.id %>#comment_<%= comment.id %>'><%= comment.body %></a></p>
    </div>
    <% end %>
  </div>
</div>